<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Not found: <q><%= imageName %></q></title>
  </head>

  <body>
    <h1>Not found: <q><%= imageName %></q></h1>
    <p>There's no such image named <q><%= imageName %></q> in the configuration file.</p>
    <p>Please double check.</p>
  </body>
</html>
